/*****************************/
/* ヘッダー*/
/*****************************/

/* ロゴ */
.el_header_logo {
  width: 120px;
  height: auto;
  display: block;
}

/* ハンバーガーメニュー */
.el_humburger_menu {
  width: 30px;
  position: fixed;
  border: none;
  cursor: pointer;
}

.el_humburger_menu span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

/* ハンバーガーメニューをバツ印に変化するスタイル */
.el_humburger_menu.is_active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.el_humburger_menu.is_active span:nth-child(2) {
  opacity: 0;
}
.el_humburger_menu.is_active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/*****************************/
/* サイドバー*/
/*****************************/
/* サイドバーメニューリスト */
.el_sideBar_list {
  list-style: none;
  padding: 40px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.el_sideBar_item {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  padding: 10px;
  font-size: 18px;
}

/*****************************/
/* メイン*/
/*****************************/

/* 紹介文*/
.el_introductionTitle{
    font-family: sans-serif;
    font-size: 36px;
    color: #ffffff;
}

.el_introductionText{
    font-size: 18px;
    color: #ffffff;
}

/* セクションタイトル */
.el_sectionTitle {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.el_newProduct_img {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin: 0 auto;
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  min-width: 200px;
  max-width: 300px;
}

.el_newProduct_name {
  text-align: center;
  margin: 10px 0;
}

.el_newProduct_price {
  text-align: center;
  margin-bottom: 20px;
}

/* category */
.el_category{
  font-size: 16px;
  margin-bottom: 10px;
  height : 100%;
  width: 100%;
}

.el_category:hover {
  opacity: 0.5;
}

/*****************************/
/* フッター*/
/*****************************/
.el_footer_logo {
  opacity: 0.1;
  width: 300px;
  height: auto;
  display: block;
  margin: 10px auto;
}

.el_footer_copyright {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}
